#devtools-for-frontends {

  & .window-button {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: unset;
    width: 100%;
    max-width: var(--width, 300px);
    min-width: unset;
    height: var(--height, 50px);
    min-height: unset;
    background-color: var(--background-color, var(--black));
    padding: 2px 10px 0;
    border: var(--border-width, 0) solid var(--border-color, transparent) !important;
    border-radius: var(--border-radius, 0);
    overflow: hidden;
    cursor: pointer;
    appearance: none;
    user-select: none;
    color: var(--window-primary-color);

    &.active {
      border: 1px solid var(--window-primary-color);
    }

    &.disable {
      opacity: 0.3;
      pointer-events: none;
    }

    & svg {
      max-width: 100%;
      height: auto;
    }

    & * {
      text-align: center;
      font-size: var(--font-size, 15px);
      font-weight: 500;
      line-height: normal;
      color: var(--text-color, var(--white));
      white-space: nowrap;
      transition: background-color 0.2s, border 0.2s, color 0.2s;
      will-change: background-color, border, color;
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--background-color-hover, var(--white)) !important;
        border: var(--border-width, 0) solid var(--border-color-hover, transparent) !important;

        &,
        & * {
          color: var(--text-color-hover, var(--black));
        }
      }
    }

    &:active {
      background-color: var(--background-color-hover, var(--white)) !important;
      border: var(--border-width, 0) solid var(--border-color-hover, transparent) !important;

      &,
      & * {
        color: var(--text-color-hover, var(--black));
      }
    }

    &.full-width {
      max-width: 100%;
    }

    &.centered {
      margin: 0 auto;
    }

    &.uppercase {
      &,
      & * {
        text-transform: uppercase;
      }
    }

    &.autosize {
      width: max-content;
      max-width: 100%;
      padding: 2px 60px 0;
    }
  }

  & .window-button.window-button-icon {
    --width: var(--window-button-icon-size);
    --height: var(--window-button-icon-size);
    --border-width: 1px;
    --border-color: var(--window-divider-color);
    --border-radius: var(--window-rounded-md);
    --background-color: var(--window-background-color);
    --background-color-hover: var(--window-action-hover-color);
    --text-color: var(--white);
    --text-color-hover: var(--white);
    --border-radius: var(--window-border-radius-small);
    padding: 2px;

    &.active {
      --border-color: var(--window-success-dark-color);
      --background-color: var(--window-success-dark-color);
      --background-color-hover: var(--background-color);
    }

    &.color-error {
      --border-color: var(--window-error-dark-color);
      --background-color: var(--window-error-dark-color);
      --background-color-hover: var(--background-color);

      @media (hover: hover) {
        &:hover {
          --border-color: var(--window-error-main-color);
          --background-color: var(--window-error-main-color);
          --background-color-hover: var(--background-color);
        }
      }
    }

    & svg {
      max-width: 100%;
      max-height: 100%;
    }
  }

  /* float ui buttons */
  .window-float-ui-buttons-wrapper {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    grid-gap: var(--window-gap-small);
  }

  & .window-float-ui-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: var(--window-background-color);
    padding: 5px;
    border-radius: 50%;
    box-shadow: 1px 1px 4px 0 var(--black);
    color: var(--white);
    
    & svg {
      max-width: 100%;
      max-height: 100%;
    }
  }
}