/* stylelint-disable selector-max-specificity */
/* stylelint-disable selector-max-id */
/* stylelint-disable declaration-no-important */
#devtools-for-frontends {
  .dff-button {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: unset;
    width: 100%;
    max-width: var(--width, 300px);
    min-width: unset;
    height: var(--height, 50px);
    min-height: unset;
    background-color: var(--background-color, var(--black));
    padding: var(--padding, 10px);
    border-radius: var(--border-radius, 0);
    border: var(--border-width, 0) solid var(--border-color, transparent) !important;
    overflow: hidden;
    color: var(--dff-primary-color);
    cursor: pointer;
    appearance: none;
    user-select: none;

    &.disable {
      opacity: 0.3;
      pointer-events: none;
    }

    &.dff-button-full {
      --width: 100%;
    }

    & svg {
      max-width: 100%;
      height: auto;
    }

    & * {
      text-align: center;
      font-weight: 500;
      font-size: var(--font-size, 15px);
      line-height: normal;
      color: var(--text-color, var(--white));
      white-space: nowrap;
      transition:
        background-color 0.2s,
        border 0.2s,
        color 0.2s;
      will-change: background-color, border, color;
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--background-color-hover, var(--white)) !important;
        border: var(--border-width, 0) solid var(--border-color-hover, transparent) !important;

        &,
        & * {
          color: var(--text-color-hover, var(--black));
        }
      }
    }

    &:active {
      background-color: var(--background-color-hover, var(--white)) !important;
      border: var(--border-width, 0) solid var(--border-color-hover, transparent) !important;

      &,
      & * {
        color: var(--text-color-hover, var(--black));
      }
    }

    &.full-width {
      max-width: 100%;
    }

    &.centered {
      margin: 0 auto;
    }

    &.uppercase {
      &,
      & * {
        text-transform: uppercase;
      }
    }

    &.autosize {
      width: max-content;
      max-width: 100%;
      padding: 0 var(--dff-gap);
    }
  }

  .dff-button-text {
    --width: 100%;
    --height: auto;
    --border-width: 1px;
    --border-color: var(--dff-action-hover-color);
    --border-radius: var(--dff-border-radius-small);
    --background-color: var(--dff-background-color);
    --background-color-hover: var(--dff-action-hover-color);
    --text-color: var(--dff-primary-color);
    --text-color-hover: var(--text-color);
    --padding: var(--dff-gap-small);
  }

  .dff-button-info {
    --width: 100px;
    --height: auto;
    --border-radius: var(--dff-border-radius-small);
    --background-color: var(--dff-info-dark-color);
    --background-color-hover: var(--dff-info-main-color);
    --text-color: var(--white);
    --text-color-hover: var(--white);
    --padding: var(--dff-gap-small);
  }

  .dff-button-confirm {
    --width: 100px;
    --height: auto;
    --border-radius: var(--dff-border-radius-small);
    --background-color: var(--dff-success-dark-color);
    --background-color-hover: var(--dff-success-main-color);
    --text-color: var(--white);
    --text-color-hover: var(--white);
    --padding: var(--dff-gap-small);
  }

  .dff-button-cancel {
    --width: 100px;
    --height: auto;
    --border-radius: var(--dff-border-radius-small);
    --background-color: var(--dff-error-dark-color);
    --background-color-hover: var(--dff-error-main-color);
    --text-color: var(--white);
    --text-color-hover: var(--white);
    --padding: var(--dff-gap-small);
  }

  .dff-button.dff-button-icon {
    --width: var(--dff-button-icon-size);
    --height: var(--dff-button-icon-size);
    --border-width: 1px;
    --border-color: var(--dff-divider-color);
    --border-radius: var(--dff-border-radius-small);
    --background-color: var(--dff-background-color);
    --background-color-hover: var(--dff-action-hover-color);
    --text-color: var(--white);
    --text-color-hover: var(--white);
    --padding: 2px;

    &.border-0 {
      --border-width: 0;
    }

    &.border-radius-0 {
      --border-radius: 0;
    }

    &.active {
      --border-color: var(--dff-success-dark-color);
      --border-color-hover: var(--dff-success-main-color);
      --background-color: var(--dff-success-dark-color);
      --background-color-hover: var(--dff-success-main-color);
    }

    &.color-error {
      --border-color: var(--dff-error-dark-color);
      --border-color-hover: var(--dff-error-main-color);
      --background-color: var(--dff-error-dark-color);
      --background-color-hover: var(--dff-error-main-color);
    }

    & svg {
      max-width: 100%;
    }
  }

  /* float ui buttons */
  .dff-float-ui-buttons-wrapper {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999999999999;
    display: flex;
    flex-direction: column;
    grid-gap: var(--dff-gap-small);
  }

  .dff-float-ui-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: var(--dff-background-color);
    padding: 5px;
    border-radius: 50%;
    box-shadow: 1px 1px 4px 0 var(--black);
    color: var(--white);

    & svg {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
