/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable declaration-no-important */
/* stylelint-disable selector-max-specificity */
/* stylelint-disable selector-max-id */
#devtools-for-frontends {
  font-family: sans-serif;
  font-size: 16px;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dff-primary-color);

  /* =============== Window =============== */
  & .dff-window {
    display: flex;
    flex-direction: column;
    width: calc(100vw - var(--dff-gap));
    max-width: 500px;
    max-height: 300px;
    background-color: var(--dff-background-color);
    border-radius: var(--dff-border-radius);
    box-shadow: var(--dff-box-shadow);
  }

  /* =============== Window Header =============== */
  & .dff-window-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--dff-header-height);
    min-height: var(--dff-header-height);
    background-color: var(--dff-background-secondary-color);
    padding: 0 var(--dff-gap);
    border-radius: var(--dff-border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  & .dff-window-header-title {
    font-weight: 700;
    font-size: 16px;
    color: var(--white);
  }

  & .dff-window-header-button.dff-button-icon {
    --border-width: 0;
  }

  /* =============== Window Body =============== */
  & .dff-window-body {
    position: relative;
    flex: 1;
    width: 100%;
    padding: var(--dff-gap);
    overflow: hidden auto;
    color: var(--white);
    overscroll-behavior: contain;
    font-size: 14px;

    &::-webkit-scrollbar {
      width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: var(--dff-background-color);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: var(--dff-primary-color);
      border: 2px solid var(--dff-background-color);
      border-radius: var(--dff-border-radius-small);
    }
  }

  /* =============== Window Footer =============== */
  & .dff-window-footer {
    display: flex;
    gap: var(--dff-gap);
    height: auto;
    padding: var(--dff-gap);

    &.left {
      justify-content: flex-start;
    }

    &.center {
      justify-content: center;
    }

    &.right {
      justify-content: flex-end;
    }
  }

  /* =============== Devtools Utils =============== */
  & .dff-text-left {
    text-align: left;
  }

  & .dff-text-center {
    text-align: center;
  }

  & .dff-text-right {
    text-align: right;
  }

  & .dff-padding {
    padding: var(--dff-gap);
  }

  & .dff-padding-small {
    padding: var(--dff-gap-small);
  }

  & .dff-gap {
    gap: var(--dff-gap);
  }

  & .dff-gap-small {
    gap: var(--dff-gap-small);
  }

  /* =============== Devtools components =============== */
  & .devtools-line {
    & .devtools-line-draggable-handle {
      --background-color-hover: var(--background-color);
      position: absolute;
      width: var(--dff-button-icon-size);
    }
  }

  /* =============== Content Items =============== */
  & .dff-content-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: var(--dff-gap-small);
    margin-bottom: var(--dff-gap);
    text-align: center;

    &:has(.dff-content-item-button-icon:only-child) {
      grid-template-columns: 1fr;

      & .dff-content-item {
        height: 57px;
      }
    }
  }

  & .dff-content-item {
    position: relative;
    display: flex;
    width: 100%;
    background-color: var(--dff-background-color);
    border-radius: var(--dff-border-radius-small);
    border: var(--dff-border);
    box-shadow: 2px 2px 0 0 var(--color);
    overflow: hidden;

    &:has(button[title="Hide"].active) {
      & .dff-content-item-content {
        opacity: 0.2;
        pointer-events: none;
      }
    }

    &.draggable-source--is-dragging {
      opacity: 0.3;

      &::before {
        opacity: 1;
        background: linear-gradient(90deg, transparent, var(--color), transparent);
        animation: gradient 1s infinite ease-in-out;
      }
    }

    &.draggable-mirror {
      z-index: 1;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.2;
      display: flex;
      width: 100%;
      height: 100%;
      background-color: var(--color);
    }

    &.dff-content-item-button-icon {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: var(--dff-gap-small);
      min-height: 58px;
      color: var(--white);

      &:hover {
        background-color: var(--dff-action-hover-color);
      }

      & svg {
        width: 15px;
        height: auto;
      }
    }
  }

  & .dff-content-item-sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    border-right: var(--dff-border);

    & button {
      height: 100%;
    }

    & button:not(:last-child) {
      border-bottom: var(--dff-border) !important;
    }
  }

  & .dff-content-item-content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--dff-gap-small);
    width: 100%;
    padding: var(--dff-gap-small);
  }

  & .dff-content-item-block {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: var(--dff-gap-small);
    width: 100%;
  }

  /* inputs */
  & .dff-content-item-inputs-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    gap: var(--dff-gap-small);
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-radius: var(--dff-border-radius-small);
  }

  & .dff-content-item-input-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: var(--dff-border-radius-small);
  }

  & .dff-content-item-input-label {
    position: absolute;
    top: calc(50% + 1px);
    left: var(--dff-gap-small);
    transform: translateY(-50%);
    display: block;
    font-size: 12px;
    pointer-events: none;
  }

  & .dff-content-item-input {
    width: 100% !important;
    height: 100% !important;
    min-height: unset !important;
    background-color: var(--dff-background-color) !important;
    padding: 0 var(--dff-gap-small) !important;
    border: var(--dff-border) !important;
    border-radius: var(--dff-border-radius-small) !important;
    color: var(--white) !important;

    &.no-border {
      border: 0 !important;
    }
  }

  & .dff-content-item-input-width,
  & .dff-content-item-input-height {
    padding: 0 var(--dff-gap-small) 0 calc(var(--dff-gap) * 2) !important;
  }

  /* texts */
  & .dff-content-item-name {
    display: flex;
    align-items: center;
    flex: 1;
    width: auto;
    max-width: 100%;
    height: var(--dff-button-icon-size);
    overflow: hidden;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    pointer-events: none;
  }

  & .dff-content-item-color {
    width: var(--dff-button-icon-size);
    height: var(--dff-button-icon-size);
    min-height: unset !important;
    background: transparent !important;
    padding: 0 !important;
    border: 0 !important;
    border-radius: var(--dff-border-radius-small) !important;
    overflow: hidden;
    cursor: pointer;
    appearance: none;

    &::-webkit-color-swatch-wrapper,
    &::-webkit-color-swatch {
      padding: 0;
      border: 0;
    }
  }
}

@keyframes gradient {
  from {
    left: -100%;
  }

  to {
    left: 100%;
  }
}
