
  /* -------- Checkbox -------- */
.form-checkbox-wrapper {
    --checkbox-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

.form-checkbox {
    position: relative;
    display: inline-flex;
    margin-left: 6px;

    &:hover .check {
      stroke-dashoffset: 0;
    }
  }

.form-checkbox-input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    appearance: none;
    cursor: pointer;

    &:checked + .form-group-check .stroke {
      stroke-dashoffset: 0;
    }

    &:checked + .form-group-check .check {
      stroke-dashoffset: 0;
    }
  }

.form-checkbox-label {
    cursor: pointer;
    font-size: 18px;
  }

.form-group-check {
    width: var(--checkbox-size);
    height: var(--checkbox-size);

    & .background {
      fill: var(--window-primary-color);
    }

    & .stroke {
      fill: none;
      stroke: var(--window-background-color);
      stroke-miterlimit: 10;
      stroke-width: 2px;
      stroke-dashoffset: 100;
      stroke-dasharray: 100;
      transition: stroke-dashoffset 0.6s;
    }

    & .check {
      fill: none;
      stroke: var(--window-background-color);
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 2px;
      stroke-dashoffset: 22;
      stroke-dasharray: 22;
      transition: stroke-dashoffset 0.6s;
    }
  }
  
  /* -------- Selects -------- */  
.form-select {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    grid-gap: var(--window-gap-small);
    padding: var(--window-gap-small);
    border-radius: var(--window-border-radius-small);
    background-color: var(--window-background-color);
    border: var(--window-border);
  }
