/* stylelint-disable declaration-no-important */
/* stylelint-disable selector-max-id */
/* stylelint-disable selector-max-specificity */
#devtools-for-frontends {
  & .dff-format-texts {
    display: flex;
    flex-direction: column;
    grid-gap: var(--dff-gap-small);

    & .dff-input {
      padding: var(--dff-gap-small) !important;
    }

    & .dff-button {
      --width: 100%;
    }
  }

  & .dff-format-buttons-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--dff-gap-small);
  }
}
