:root,
:host {
  /* colors */
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);

  /* typography */
  --dff-primary-color: rgba(255, 255, 255, 1);
  --dff-secondary-color: rgba(255, 255, 255, 0.7);
  --dff-disabled-color: rgba(255, 255, 255, 0.5);

  /* buttons */
  --dff-action-active-color: rgba(255, 255, 255, 1);
  --dff-action-hover-color: rgba(255, 255, 255, 0.08);
  --dff-action-selected-color: rgba(255, 255, 255, 0.16);
  --dff-action-disabled-color: rgba(255, 255, 255, 0.3);
  --dff-action-disabledBackground-color: rgba(255, 255, 255, 0.12);

  /* background */
  --dff-background-color: #121212;
  --dff-background-secondary-color: #282828;

  /* divider */
  --dff-divider-color: rgba(255, 255, 255, 0.12);

  /* Colors */
  --dff-primary-light-color: #e3f2fd;
  --dff-primary-main-color: #90caf9;
  --dff-primary-dark-color: #42a5f5;

  --dff-seocondary-light-color: #f3e5f5;
  --dff-seocondary-main-color: #ce93d8;
  --dff-seocondary-dark-color: #ab47bc;

  --dff-success-light-color: #81c784;
  --dff-success-main-color: #66bb6a;
  --dff-success-dark-color: #388e3c;

  --dff-error-light-color: #e57373;
  --dff-error-main-color: #f44336;
  --dff-error-dark-color: #d32f2f;

  --dff-warning-light-color: #ffb74d;
  --dff-warning-main-color: #ffa726;
  --dff-warning-dark-color: #f57c00;

  --dff-info-light-color: #4fc3f7;
  --dff-info-main-color: #29b6f6;
  --dff-info-dark-color: #0288d1;

  /* borders */
  --dff-border: 1px solid var(--dff-divider-color);
  --dff-border-medium: 2px solid var(--dff-divider-color);
  --dff-border-bold: 3px solid var(--dff-divider-color);

  /* Heights */
  --dff-header-height: 30px;
  --dff-navigation-height: 50px;

  /* border radius */
  --dff-border-radius: 8px;
  --dff-border-radius-small: 4px;

  /* gaps */
  --dff-gap: 10px;
  --dff-gap-small: 5px;

  /* buttons */
  --dff-button-icon-size: 20px;
}
