#devtools-for-frontends {
  & .window-tools {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--window-gap-small);
  }

  & .window-tools-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-gap: var(--window-gap-small);
    padding: var(--window-gap-small);
    border-radius: var(--window-border-radius-small);
    background-color: var(--window-background-color);
    border: var(--window-border);
    
    &:hover {
      background-color: var(--window-action-hover-color);
      border-color: transparent;
    }

    &,
    & * {
      font-size: 14px;
    }
  }
}