#devtools-for-frontends {
  & .window-resize-option  {
    --window-button-icon-size: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: var(--window-gap-small);
    width: 100%;
    height: var(--window-button-icon-size);

    & *:not(label) {
      font-size: 14px;
    }
  }

  & .window-resize-option-handle {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: var(--window-gap-small);
    border-radius: var(--window-border-radius-small);
    background-color: var(--window-background-color);
    border: var(--window-border);
    color: var(--window-primary-color);
    
    &:hover {
      background-color: var(--window-success-dark-color);
    }
  }
}